﻿@model AmazonPupSpace.Models.ViewModels.PostDetailsViewModel
@{
    ViewBag.Title = "Details";
}

<article>
    <div class="rounded-end-2" style="background-color: #f5f5f5;">
        <div class="d-flex flex-wrap h-100">
            <div class="post-image col-12 col-md-7">
                @{
                    string imageurl = "/Content/Images/Posts/default.jpg";
                    if (Model.Post.ImageURL)
                    {
                        imageurl = "/Content/Images/Posts/" + Model.Post.PostId + "." + Model.Post.PicExtension;
                    }
                }
                <img id="post-img" class="img-fluid" src="@imageurl" alt="@Model.Post.Title" />
            </div>
            <div id="post-info" class="post-info d-flex flex-column col-12 col-md-5 mt-4 mt-md-0">
                <div class="flex-shrink-0 p-3 border-bottom">
                    <div class="d-flex justify-content-between">
                        <div class="left">
                            <h3 class="fs-6 fw-bold mb-0">@Model.Employee.FirstName @Model.Employee.LastName</h3>
                            <small>@Model.Post.PostDate.ToString("MMMM dd, yyyy")</small>
                            <h4 class="fs-6 fw-bold mb-0 mt-2">@Model.Post.Title</h4>
                            <p class="mb-0">@Model.Post.Caption</p>
                        </div>
                        <div class="right">
                            <button class="border-0 rounded-2 py-2 bg-light-subtle" onclick="myFunction()"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                            <ul id="myDiv" class="ps-0 bg-light mb-0 rounded-2 shadow" style="display:none;">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="px-3 py-2 border-bottom"><a href="/Post/Edit/@Model.Post.PostId"><small>Update</small></a></li>
                                    <li class="px-3 py-2"><a href="/Post/DeleteConfirm/@Model.Post.PostId"><small>Delete</small></a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="comment-block p-3">
                    <div class="comment-list">
                        @if (Model.Comments != null && Model.Comments.Any())
                        {
                            foreach (var comment in Model.Comments)
                            {
                                <div class="comment mb-2">
                                    <div class="d-flex flex-wrap justify-content-between">
                                        <div>
                                            <div class="d-flex flex-wrap mb-2 me-2">
                                                <h5 class="card-title fs-6 fw-bold me-2 mb-0"><a href="/Employee/Details/@comment.EmployeeId">@comment.FirstName @comment.LastName</a></h5>
                                                <p class="card-text fs-6">@comment.CommentText</p>
                                            </div>
                                            <small class="card-subtitle mb-4 text-body-secondary"><small><i class="fa-regular fa-calendar-days me-2"></i> @comment.DateCommented.ToString("MMMM dd, yyyy")</small></small>
                                        </div>
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a href="/Comment/DeleteConfirm/@comment.CommentId" class="btn btn-danger px-3 py-2"><i class="fa-solid fa-trash-can"></i></a>
                                        }
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No comments yet.</p>
                        }
                    </div>
                </div>
                <div class="p-3 border-top flex-shrink-0">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" action="/Comment/Create">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="PostId" value="@Model.Post.PostId" />
                            <input type="hidden" name="" value="@Model.EmployeeId" />
                            <div class="d-flex flex-wrap">
                                <label for="CommentText" class="mb-2 d-none">Your Comment:</label>
                                <textarea class="form-control w-auto flex-grow-1 me-2" name="CommentText" rows="1" required></textarea>
                                <button type="submit" class="btn btn-dark rounded-5">Post</button>
                            </div>
                        </form>
                    }
                    else
                    {
                        <p>Please <strong><a href="/Account/Login">log in</a></strong> to leave a comment.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</article>

<script>
    window.onload = function () {
        // Get the height of the left image
        var leftImageHeight = document.getElementById('post-img').clientHeight;

        // Set the height of the right div to match the left image's height
        document.getElementById('post-info').style.height = leftImageHeight + 'px';
    };

    // Adjust the height dynamically if the window is resized
    window.onresize = function () {
        var leftImageHeight = document.getElementById('post-img').clientHeight;
        document.getElementById('post-info').style.height = leftImageHeight + 'px';
    };

    function myFunction() {
        var x = document.getElementById("myDiv");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>