﻿@model IEnumerable<AmazonPupSpace.Models.Post>

@{
    ViewBag.Title = "Amazon PupSpace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-4">Post List</h2>

<div class="d-flex flex-row justify-content-between mb-4">
    @if (User.Identity.IsAuthenticated)
    {
        <a href="/Post/New" class="btn btn-primary"><i class="fa-solid fa-plus me-2 p-2"></i>New Post</a>
    }
</div>

<div class="row grid" id="card-wrapper">
    @foreach (var post in Model)
    {
        <div class="card-item mb-4">
            <div class="card">
                <div class="card-img-block">
                    @{
                        string imageurl = "/Content/Images/Posts/default.jpg";
                        if (post.ImageURL)
                        {
                            imageurl = "/Content/Images/Posts/" + post.PostId + "." + post.PicExtension;
                        }
                    }
                    <img class="img-fluid w-100 rounded-2" src="@imageurl" alt="@post.Title" />
                </div>
                <div class="card-body">
                    <h4 class="card-title">@post.Title</h4>
                    <p class="card-text truncate-overflow">@post.Caption</p>
                    <p class="card-text card-text-one"><small class="text-muted">@post.PostDate.ToString("MMMM dd, yyyy")</small></p>
                    <a href="/Post/Details/@post.PostId" class="btn btn-outline-secondary"><span>View details</span><i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    }
</div>