@model AmazonPupSpace.Models.ViewModels.DetailsEmployee
@{
    ViewBag.Title = "Details";
}

<h2 class="mb-4">Employee Details</h2>
<a href="/Employee/List" class="btn btn-lg btn-info mb-4"><i class="fa-solid fa-chevron-left p-2 me-2"></i>Go back to list</a>

<div class="d-flex align-items-center">
    <a href="/Employee/Edit/@Model.SelectedEmployee.EmployeeId" class="btn btn-warning me-2 mb-2">Update Employee</a>
    <a href="/Employee/DeleteConfirm/@Model.SelectedEmployee.EmployeeId" class="btn btn-danger mb-2">Delete Employee</a>
</div>
    <!--image source:https://i.ebayimg.com/images/g/VdsAAOSwiFJj5VV9/s-l1200.webp-->
    <div class="p-4 rounded-2 mt-4" style="background-color: #f5f5f5;">
        <div class="row">
            <div class="post-image col-12 col-md-6 col-lg-5 mt-4 mt-md-0">
                <img class="img-fluid rounded-2" src="~/Content/Images/hero.png" alt="@Model.SelectedEmployee.FirstName-@Model.SelectedEmployee.LastName" />
            </div>
            <div class="post-info col-12 col-md-6 col-lg-7">
                <p class="mb-2 fs-4"><strong>First Name : </strong>@Model.SelectedEmployee.FirstName </p>
                <p class="mb-2 fs-4"><strong>Last Name : </strong>@Model.SelectedEmployee.LastName </p>
                <p class="mb-2 fs-4"><strong>Email : </strong>@Model.SelectedEmployee.Email </p>
                <p class="mb-2 fs-4"><strong>Employee Id : </strong>@Model.SelectedEmployee.EmployeeId </p>
                <p class="mb-2 fs-4"><strong>Hire Date : </strong>@Model.SelectedEmployee.HireDate </p>
                <p class="mb-2 fs-4"><strong>Department Name : </strong>@Model.SelectedEmployee.DepartmentName </p>
                <div class="mt-3">
                    <h3> Dogs Owned by the Employee</h3>
                    @foreach (var dog in Model.RelatedDogs)
                    {
                        <a class=" fs-5 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="/Dog/Details/@dog.DogId">@dog.DogName (Breed - @dog.DogBreed ) </a>
                        <br />

                    }
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5">
        <h3 class="mb-4">Posts Created by the Employee</h3>
        @if (Model.RelatedPosts != null && Model.RelatedPosts.Any())
        {
            <div class="row grid" id="card-wrapper">
                @foreach (var post in Model.RelatedPosts)
                {
                    <div class="card-item mb-4">
                        <div class="card">
                            <div class="card-img-block">
                                @{
                                    string imageurl = "/Content/Images/Posts/default.jpg";
                                    if (post.ImageURL)
                                    {
                                        imageurl = "/Content/Images/Posts/" + post.PostId + "." + post.PicExtension;
                                    }
                                }
                                <img class="img-fluid w-100 rounded-2" src="@imageurl" alt="@post.Title" />
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">@post.Title</h4>
                                <p class="card-text truncate-overflow">@post.Caption</p>
                                <p class="card-text card-text-one"><small class="text-muted">@post.PostDate</small></p>
                                <a href="/Post/Details/@post.PostId" class="btn btn-outline-secondary"><span>View details</span><i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p>No posts found for this employee.</p>
        }
    </div>